.ite-GoldenLayout
  position absolute
  top 50px
  bottom 20px
  width: 100%;

  .lm_splitter.lm_horizontal .lm_drag_handle
    width: 5px;
    left: 0;
    cursor: ew-resize;
//.lm_splitter.lm_horizontal::before
//  content " "
//  position absolute
//  top 20px
//  width 100%
//  bottom calc(50% - 10px)
//  background red

  .lm_splitter.lm_vertical .lm_drag_handle
    height: 5px;
    top: 0;
    cursor: ns-resize;
